# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

tags
# C extensions
*.so

# Distribution / packaging
.Python
.idea/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
m4/
autom4te.cache/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# Unneeded files
NEWS
README
AUTHORS
ChangeLog
COPYING
INSTALL
aclocal.m4
py-compile
install-sh
gnome-twofactorauth
stamp-h1
config.h
missing
ltmain.sh
configure
config.status
config.log
config.h.in
Makefile
Makefile.in
TwoFactorAuth/Makefile
TwoFactorAuth/Makefile.in
TwoFactorAuth/widgets/Makefile
TwoFactorAuth/widgets/Makefile.in
TwoFactorAuth/models/Makefile
TwoFactorAuth/models/Makefile.in
data/Makefile
data/Makefile.in
data/applications/Makefile
data/applications/Makefile.in
schemas/Makefile.in
schemas/Makefile
schemas/*.valid
po/stamp-it
po/*.gmo
po/POTFILES
po/Makefile.in.in
*.valid
*.compiled
*.desktop
*.gresource
*.ui~
