.applications-list {
  background-color: @theme_bg_color;
}

.application-list-row:selected GtkImage {
  color: @theme_fg_selected_color;
}

.provider-lbl {
  font-size: 14px;
  font-weight: bold;
}
.application-name {
  font-size: 12px;
}

.account-name {
  font-weight: bold;
  font-size: 14px;
}

.token-label, .counter-label {
  font-size: 12px;
}
