.applications-list {
  background-color: @theme_bg_color;
}

.application-list-row:selected GtkImage {
  color: @theme_fg_selected_color;
}

.account-name,
.application-name,
.application-name-grid {
  font-weight: bold;
  font-size: 14px;
}

.application-logo-add {
  margin-right: 5px;
  margin-bottom: 10px;
}

.account-secret-code, .account-timer {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 60px;
}

.account-secret-code-grid, .account-timer-grid {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.application-secret-code-select-mode {
  margin-left: 98px;
}

.choose-popover GtkLabel {
  padding: 10px;
}
