.accounts-widget{
  margin-top: 0px;
}
.accounts-container {
    margin-left: 32px;
    margin-right: 32px;
}

.accounts-list{
  background-color: @theme_bg_color;
}
.account-row,
 .settings-box{
	padding: 6px;
	border: 1px solid mix(@theme_base_color,@theme_fg_color,0.3);
    background-color: mix(@theme_base_color,@theme_bg_color,0.3);
    margin: 6px;
}
.account-row:selected GtkImage {
  color: mix(@theme_base_color,@theme_fg_color,0.3);
}

.account-row-checkbtn{
  padding-left: 6px;
}

.provider-lbl,
.gpg-key-lbl{
  font-size: 18px;
  font-weight: bold;
  padding: 3px 6px;
}
.application-name {
  font-size: 14px;
  color: @theme_fg_color;
  font-style: italic;
}

.account-name {
  font-weight: bold;
  font-size: 16px;
}

.token-label{
  font-size: 14px;
}
.counter-label {
  font-size: 12px;
}
.settings-box-main-label{
    font-size: 14px;
    padding: 3px 6px;
}

.settings-box-secondary-label {
    font-size:12px;
    font-style:italic;
    color: mix(@theme_base_color,@theme_fg_color,0.6);
    padding: 3px 6px;
}
.settings-main-container{
    margin-left: 36px;
    margin-right: 36px;
}
