.applications-list {
    background-color: @theme_bg_color;
}
.application-list-row:selected GtkImage {
    color: @theme_fg_selected_color;
}
.application-name {
    font-weight: bold;
    font-size: 13px;
}
.application-logo-add {
    margin-right: 5px;
    margin-bottom: 10px;
}
.account-secret-code,
.account-timer {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 60px;
}
.application-secret-code-select-mode {
    margin-left: 100px;
}
.choose-popover GtkLabel {
    padding: 10px;
}
